workflows/finance-invoicing/HTTP_Typeform_Monitor_Webhook_1_1.json
{
  "id": "wf24784b23c29f",
  "name": "Expense Tracker App",
  "nodes": [
    {
      "name": "Get Receipt",
      "type": "n8n-nodes-base.typeformTrigger",
      "position": [
        450,
        300
      ],
      "parameters": {
        "formId": ""
      },
      "credentials": {
        "typeformApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "Get Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        650,
        300
      ],
      "parameters": {
        "url": "={{$(\"Get Receipt\").item.json[\"Upload receipt\"]}}",
        "options": {},
        "responseFormat": "file"
      },
      "typeVersion": 1
    },
    {
      "name": "Extract Information",
      "type": "n8n-nodes-base.mindee",
      "position": [
        850,
        300
      ],
      "parameters": {},
      "credentials": {
        "mindeeReceiptApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "Set Information",
      "type": "n8n-nodes-base.set",
      "position": [
        1050,
        300
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Amount",
              "value": "={{$(\"Extract Information\").item.json[\"total\"]}}"
            }
          ],
          "string": [
            {
              "name": "Merchant",
              "value": "={{$(\"Extract Information\").item.json[\"merchant\"]}}"
            },
            {
              "name": "Date",
              "value": "={{$(\"Extract Information\").item.json[\"date\"]}}"
            },
            {
              "name": "Time",
              "value": "={{$(\"Extract Information\").item.json[\"time\"]}}"
            },
            {
              "name": "Receipt URL",
              "value": "={{$(\"Get Receipt\").item.json[\"Upload receipt\"]}}"
            },
            {
              "name": "Category",
              "value": "={{$(\"Extract Information\").item.json[\"category\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Store Information",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1250,
        300
      ],
      "parameters": {
        "table": "Expenses",
        "options": {},
        "operation": "append",
        "application": ""
      },
      "credentials": {
        "airtableApi": ""
      },
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Get Image": {
      "main": [
        [
          {
            "node": "Extract Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Receipt": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Information": {
      "main": [
        [
          {
            "node": "Store Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information": {
      "main": [
        [
          {
            "node": "Set Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}