workflows/general-automation/Figma_Stickynote_Update_Triggered.json
{
  "id": "wf6a207cb55125",
  "name": "Automate Figma Versioning and Jira Updates with n8n Webhook Integration",
  "nodes": [
    {
      "id": "a3853962-36ce-4a2f-b9d6-c2807652d7ff",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        -260
      ],
      "parameters": {
        "width": 700,
        "height": 200,
        "content": "## Note\nTo use this automation, you will need the Figma Commit Plugin installed and configured. The plugin sends the design version details via a webhook to trigger this n8n workflow.\n\nYou can find the Figma Commit Plugin on GitHub here:\n🔗 [Figma Commit Plugin on GitHub](https://github.com/omid-d3v/Figma-Commit-plugin-with-webhook/)\n\nMake sure to follow the setup instructions in the plugin’s documentation to get started."
      },
      "typeVersion": 1
    },
    {
      "id": "843f1e0b-4c8b-4744-a9b7-8ce5725768bc",
      "name": "Find Jira Issue",
      "type": "n8n-nodes-base.jira",
      "position": [
        220,
        0
      ],
      "parameters": {
        "issueKey": "={{ $json.issueLink }}",
        "operation": "get",
        "additionalFields": {}
      },
      "credentials": {
        "jiraSoftwareCloudApi": {
          "name": "Add your jiraSoftwareCloudApi credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "59101813-9625-4d1f-b2b6-7ff442c1fe0f",
      "name": "Add Comment in Issue",
      "type": "n8n-nodes-base.jira",
      "position": [
        440,
        0
      ],
      "parameters": {
        "comment": "={{ $('Figma Trigger').item.json.pageName }}{{ '\\n' }}{{ $('Figma Trigger').item.json.versionName }}{{ '\\n' }}{{ $('Figma Trigger').item.json.designLink }}{{ '\\n' }} {{ $now }}",
        "options": {},
        "issueKey": "={{ $json.key }}",
        "resource": "issueComment"
      },
      "credentials": {
        "jiraSoftwareCloudApi": {
          "name": "Add your jiraSoftwareCloudApi credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "378150c5-b640-477a-861f-216e8b15c0e4",
      "name": "Figma Trigger",
      "type": "n8n-nodes-base.figmaTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {
        "teamId": "940915773877350235",
        "triggerOn": "fileVersionUpdate"
      },
      "credentials": {
        "figmaApi": {
          "name": "Add your figmaApi credential"
        }
      },
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Figma Trigger": {
      "main": [
        [
          {
            "node": "Find Jira Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Jira Issue": {
      "main": [
        [
          {
            "node": "Add Comment in Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Comment in Issue": {
      "main": [
        []
      ]
    }
  }
}