workflows/e-commerce/Noop_Trello_Import_Triggered.json
{
  "id": "wf7a8a4dfce416",
  "name": "Get Product Feedback",
  "nodes": [
    {
      "name": "Typeform Trigger",
      "type": "n8n-nodes-base.typeformTrigger",
      "position": [
        170,
        260
      ],
      "parameters": {
        "formId": ""
      },
      "credentials": {
        "typeformApi": "typeform-harshil"
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        370,
        260
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "Score",
              "value": "={{$(\"Typeform Trigger\").item.json[\"What score would you like to give?\"]}}"
            }
          ],
          "string": [
            {
              "name": "Name",
              "value": "={{$(\"Typeform Trigger\").item.json[\"What is your name?\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$(\"Typeform Trigger\").item.json[\"What is your email address?\"]}}"
            },
            {
              "name": "Description",
              "value": "={{$(\"Typeform Trigger\").item.json[\"Anything else you want to share?\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        570,
        260
      ],
      "parameters": {
        "table": "Feedback",
        "options": {},
        "operation": "append",
        "application": ""
      },
      "credentials": {
        "airtableApi": "airtable-harshil"
      },
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        770,
        260
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$(\"Set\").item.json[\"Score\"]}}",
              "value2": 7
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Trello",
      "type": "n8n-nodes-base.trello",
      "position": [
        970,
        160
      ],
      "parameters": {
        "name": "=[{{$(\"IF\").item.json[\"fields\"][\"Score\"]}}] {{$(\"IF\").item.json[\"fields\"][\"Name\"]}}",
        "listId": "5fbb9e2eb1d5cc0a8a7ab8ac",
        "description": "=Name: {{$(\"IF\").item.json[\"fields\"][\"Name\"]}}\nEmail: {{$(\"IF\").item.json[\"fields\"][\"Email\"]}}\nScore: {{$(\"IF\").item.json[\"fields\"][\"Score\"]}}\nDescription: {{$(\"IF\").item.json[\"fields\"][\"Description\"]}}",
        "additionalFields": {}
      },
      "credentials": {
        "trelloApi": "Trello Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        970,
        360
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Trello",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}