workflows/e-commerce/Twitter_Telegram_Create_Triggered.json
{
  "id": "wfe52ad62712a2",
  "name": "New WooCommerce Product to Twitter and Telegram",
  "nodes": [
    {
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "position": [
        720,
        300
      ],
      "parameters": {
        "text": "=✨ New Product Announcement ✨\nWe have just added {{$json[\"name\"]}}, Head to {{$json[\"permalink\"]}} to find out more.",
        "additionalFields": {}
      },
      "credentials": {
        "twitterOAuth1Api": {
          "name": "Add your twitterOAuth1Api credential"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        720,
        500
      ],
      "parameters": {
        "text": "=✨ New Product Announcement ✨\nWe have just added {{$json[\"name\"]}}, Head to {{$json[\"permalink\"]}} to find out more.",
        "chatId": "123456",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "name": "Add your telegramApi credential"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "WooCommerce Trigger",
      "type": "n8n-nodes-base.wooCommerceTrigger",
      "position": [
        540,
        400
      ],
      "parameters": {
        "event": "product.created"
      },
      "credentials": {
        "wooCommerceApi": {
          "name": "Add your wooCommerceApi credential"
        }
      },
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "WooCommerce Trigger": {
      "main": [
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}