workflows/e-commerce/Woocommerce_Slack_Create_Triggered.json
{
  "id": "wf6eca4b442ccd",
  "name": "New WooCommerce order to Slack",
  "nodes": [
    {
      "name": "Order Created",
      "type": "n8n-nodes-base.wooCommerceTrigger",
      "position": [
        340,
        500
      ],
      "parameters": {
        "event": "order.created"
      },
      "credentials": {
        "wooCommerceApi": {
          "name": "Add your wooCommerceApi credential"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        780,
        480
      ],
      "parameters": {
        "text": ":sparkles: There is a new order :sparkles:",
        "channel": "woo-commerce",
        "blocksUi": {
          "blocksValues": []
        },
        "attachments": [
          {
            "color": "#66FF00",
            "fields": {
              "item": [
                {
                  "short": true,
                  "title": "Order ID",
                  "value": "={{$json[\"id\"]}}"
                },
                {
                  "short": true,
                  "title": "Status",
                  "value": "={{$json[\"status\"]}}"
                },
                {
                  "short": true,
                  "title": "Total",
                  "value": "={{$json[\"currency_symbol\"]}}{{$json[\"total\"]}}"
                },
                {
                  "short": false,
                  "title": "Link",
                  "value": "={{$(\"Order Created\").item.json[\"_links\"][\"self\"][0][\"href\"]}}"
                }
              ]
            },
            "footer": "=*Ordered:* {{$json[\"date_created\"]}} | *Transaction ID:* {{$json[\"transaction_id\"]}}"
          }
        ],
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "name": "Add your slackApi credential"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Price over 100",
      "type": "n8n-nodes-base.if",
      "position": [
        540,
        500
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"total\"]}}",
              "value2": 100,
              "operation": "largerEqual"
            }
          ]
        }
      },
      "typeVersion": 1
    }
  ],
  "settings": {
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "executionOrder": "v1"
  },
  "connections": {
    "Order Created": {
      "main": [
        [
          {
            "node": "Price over 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price over 100": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}